version: "3.7"
services:
  db:
    image: redis
    user: root
    command: --appendonly yes

  api-server:
    build:
      context: ./
      target: api-server
    image: ${DOCKER_REGISTRY:-dccn}/filer-gateway-api:${DOCKER_IMAGE_TAG:-latest}
    user: root
    cap_add:
      - SYS_ADMIN
    ports:
      - ${FILER_GATEWAY_EXTERNAL_PORT:-8080}:8080
    volumes:
      - ${HOME_VOL-/home}:/home:ro
      - ${PROJECT_VOL:-/project}:/project:ro
      - ${PROJECT_FREENAS_VOL:-/project_freenas}:/project_freenas:ro
      - ${PROJECT_CEPHFS_VOL:-/project_cephfs}:/project_cephfs:ro
      - ${CFG_API_SERVER:-/mnt/docker/scripts/microservices/filer-gateway/filer-gateway-api-server.yml}:/etc/filer-gateway/config.yml:ro
      - /var/lib/sss/pipes:/var/lib/sss/pipes
      - /var/lib/sss/mc:/var/lib/sss/mc:ro
    depends_on:
      - db
    command: -p 8080 -v -r db:6379 -c /etc/filer-gateway/config.yml

  worker:
    build:
      context: ./
      target: worker
    image: ${DOCKER_REGISTRY:-dccn}/filer-gateway-worker:${DOCKER_IMAGE_TAG:-latest}
    user: root
    cap_add:
      - SYS_ADMIN
    volumes:
      - ${HOME_VOL-/home}:/home:rw
      - ${PROJECT_VOL:-/project}:/project:rw
      - ${PROJECT_FREENAS_VOL:-/project_freenas}:/project_freenas:rw
      - ${PROJECT_CEPHFS_VOL:-/project_cephfs}:/project_cephfs:rw
      - ${CFG_WORKER:-/mnt/docker/scripts/microservices/filer-gateway/filer-gateway-worker.yml}:/etc/filer-gateway/config.yml:ro
      - /var/lib/sss/pipes:/var/lib/sss/pipes
      - /var/lib/sss/mc:/var/lib/sss/mc:ro
    depends_on:
      - db
      - api-server
    command: -v -r db:6379 -c /etc/filer-gateway/config.yml
